In [ ]:
!pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading https://files.pythonhosted.org/packages/ed/f4/a00c2a7c90801abc875325bb5416ce9090ac86d06a00cc887131bd73ba45/GetOldTweets3-0.0.11-py3-none-any.whl
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Collecting pyquery>=1.2.10
  Downloading https://files.pythonhosted.org/packages/78/43/95d42e386c61cb639d1a0b94f0c0b9f0b7d6b981ad3c043a836c8b5bc68b/pyquery-1.4.1-py2.py3-none-any.whl
Collecting cssselect>0.7.9
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1

In [ ]:
import GetOldTweets3 as got
import pandas as pd

In [ ]:
#Gleevec
def get_tweets(state, startdate, enddate, maxtweet):
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch("Gleevec")\
                                            .setSince(startdate)\
                                            .setUntil(enddate)\
                                            .setNear(state)\
                                            .setWithin("500mi")\
                                            .setMaxTweets(maxtweet)
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    text_tweets = [[tw.id,
                tw.date,
                tw.username,
                tw.text] for tw in tweet]
    df_state= pd.DataFrame(text_tweets, columns = ['Id','Date','User', 'Text'])
    
    return df_state

In [ ]:
df_1 = get_tweets('Gleevec', "2012-08-01", "2020-08-12", 10000)
df_1.head()

                    Id  ...                                               Text
0  1293335036650033153  ...                           This seal needs Gleevec!
1  1293322812824915968  ...     Gleevec only works for the lucky few with GIST
2  1293319647308193794  ...  I never said I knew your personal situation. I...
3  1293312181107412995  ...  Really? I'm sure you know so much about my sit...
4  1293092596210794496  ...  OMG! I am obsessed with this! Dr. Fauci is up ...

[5 rows x 4 columns]

In [ ]:
df_1.to_csv('/content/Gleevec.csv',index=False)

In [ ]:
#Coronavirus
def get_tweets(state, startdate, enddate, maxtweet):
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch("corona")\
                                            .setSince(startdate)\
                                            .setUntil(enddate)\
                                            .setNear(state)\
                                            .setWithin("500mi")\
                                            .setMaxTweets(maxtweet)
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    text_tweets = [[tw.id,
                tw.date,
                tw.username,
                tw.text] for tw in tweet]
    df_state= pd.DataFrame(text_tweets, columns = ['Id','Date','User', 'Text'])
    
    return df_state

In [ ]:
df_1 = get_tweets('corona', "2019-08-01", "2020-08-12", 10000)
df_1.head()

                    Id  ...                                               Text
0  1293332201346445312  ...  all i wanted this year was to be a fucking big...
1  1293329929392680962  ...  ⚡︎ Roughed in the #electrical for a small addi...
2  1293328938857459713  ...  REPORT: NEW YORK STATE’S CORONA NURSING HOME D...
3  1293324813637804033  ...  Baa! Taco Tuesday courtesy of @great_white_hut...
4  1293318432780247040  ...                    What your religion is Corona ?

[5 rows x 4 columns]

In [ ]:
df_1.to_csv('/content/coronavirus.csv',index=False)